
    {{!-- página inicial --}}
<div>
    {{#if userIsLoggedIn}}
    <button onclick="location.href='/cart'">Logout</button>
    <p>Bienvenido {{user.name}}!</p>
    <button onclick="location.href='/logout'">Logout</button>
{{else}}
    <button onclick="location.href='/login'" class="login-button">
    <img src="/img/usuario.png" alt="Iniciar sesión" class="login-icon">
</button>

    {{/if}}
    <h1>Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
            </li>
        {{/each}}
    </ul>
</div>
</div>

</div>
</div>
